.h1 {
  text-align: center;
  margin-top: 40px;
}

.item-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container-pokemon {
  background-color: lightcyan;
  width: 190px;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.img {
  width: 150px;
  padding-left: 28px;
}

.h2 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  padding: 2px;
}

.types-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 14px;
}

.li {
  margin-right: 20px;
}